
/* Styling the open modal button */
.modalbtn {
    background-color: #B1A9D4;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
   }
   /* Styling the close modal button */
  .closebtn {
    float: right;
    font-size: 15px;
    font-weight: bold;
   } 
   .closebtn:hover {
    cursor: pointer;
   } 
   /* Styling the modal container */
   .modal {
    display: none;
   }
   /* Styling the text inside the modal */
   .modalcontent {
    width: 500px;
       height: 200px;
       /* margin: auto; */
       display:table;
       position: absolute;
       left: 0;
       right:0;
/*        top: 50%; 
 */       border:1px solid;
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);
   }